# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Environment files
.env
.env.*
!.env.example

frontend/.env
frontend/.env.*
!frontend/.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python / backend later
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Local audio/temp files
uploads/
recordings/
temp/
tmp/

# Local AI model files
*.pt
*.gguf

# Ollama data
ollama_data/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo